<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TheIkoniqueInteriors</display-name>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/errorpage.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaRegistration</display-name>
    <servlet-name>AreaRegistration</servlet-name>
    <servlet-class>com.ikonique.servlet.AreaRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaRegistration</servlet-name>
    <url-pattern>/AreaRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaName</display-name>
    <servlet-name>AreaName</servlet-name>
    <servlet-class>com.ikonique.servlet.AreaName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaName</servlet-name>
    <url-pattern>/AreaName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserRecord</display-name>
    <servlet-name>DeleteUserRecord</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteUserRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserRecord</servlet-name>
    <url-pattern>/DeleteUserRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateOtpPass</display-name>
    <servlet-name>GenerateOtpPass</servlet-name>
    <servlet-class>com.ikonique.servlet.GenerateOtpPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateOtpPass</servlet-name>
    <url-pattern>/GenerateOtpPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrialServlet</display-name>
    <servlet-name>TrialServlet</servlet-name>
    <servlet-class>com.ikonique.servlet.TrialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrialServlet</servlet-name>
    <url-pattern>/TrialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmail</display-name>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>com.ikonique.servlet.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/CheckEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.ikonique.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserDetails</display-name>
    <servlet-name>SelectUserDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserDetails</servlet-name>
    <url-pattern>/SelectUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDesignerDetails</display-name>
    <servlet-name>SelectDesignerDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectDesignerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDesignerDetails</servlet-name>
    <url-pattern>/SelectDesignerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCategoryDetails</display-name>
    <servlet-name>SelectCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCategoryDetails</servlet-name>
    <url-pattern>/SelectCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubCategoryDetails</display-name>
    <servlet-name>SelectSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubCategoryDetails</servlet-name>
    <url-pattern>/SelectSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProduct</display-name>
    <servlet-name>InsertProduct</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProduct</servlet-name>
    <url-pattern>/InsertProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProductsDetails</display-name>
    <servlet-name>InsertProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProductsDetails</servlet-name>
    <url-pattern>/InsertProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductDetails</display-name>
    <servlet-name>SelectProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductDetails</servlet-name>
    <url-pattern>/SelectProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectSubcategory</display-name>
    <servlet-name>SelectSubcategory</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectSubcategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubcategory</servlet-name>
    <url-pattern>/SelectSubcategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectOfferDetails</display-name>
    <servlet-name>SelectOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectOfferDetails</servlet-name>
    <url-pattern>/SelectOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectCategoryDetails</display-name>
    <servlet-name>DelectCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DelectCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectCategoryDetails</servlet-name>
    <url-pattern>/DelectCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectSubCategoryDetails</display-name>
    <servlet-name>DelectSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DelectSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectSubCategoryDetails</servlet-name>
    <url-pattern>/DelectSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductDetails</display-name>
    <servlet-name>DeleteProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductDetails</servlet-name>
    <url-pattern>/DeleteProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOfferDetails</display-name>
    <servlet-name>DeleteOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.DeleteOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfferDetails</servlet-name>
    <url-pattern>/DeleteOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductsDetails</display-name>
    <servlet-name>EditProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductsDetails</servlet-name>
    <url-pattern>/EditProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductsDetails</display-name>
    <servlet-name>UpdateProductsDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdateProductsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductsDetails</servlet-name>
    <url-pattern>/UpdateProductsDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSubCategoryDetails</display-name>
    <servlet-name>EditSubCategoryDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditSubCategoryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubCategoryDetails</servlet-name>
    <url-pattern>/EditSubCategoryDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductDetails</display-name>
    <servlet-name>EditProductDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductDetails</servlet-name>
    <url-pattern>/EditProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOfferDetails</display-name>
    <servlet-name>EditOfferDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.EditOfferDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOfferDetails</servlet-name>
    <url-pattern>/EditOfferDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProductLandDetails</display-name>
    <servlet-name>SelectProductLandDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectProductLandDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProductLandDetails</servlet-name>
    <url-pattern>/SelectProductLandDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.ikonique.servlet.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDeleteProductInWishlist</display-name>
    <servlet-name>InsertDeleteProductInWishlist</servlet-name>
    <servlet-class>com.ikonique.servlet.InsertDeleteProductInWishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDeleteProductInWishlist</servlet-name>
    <url-pattern>/InsertDeleteProductInWishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectWishlistDetails</display-name>
    <servlet-name>SelectWishlistDetails</servlet-name>
    <servlet-class>com.ikonique.servlet.SelectWishlistDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectWishlistDetails</servlet-name>
    <url-pattern>/SelectWishlistDetails</url-pattern>
  </servlet-mapping>
</web-app>